* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none; /*removes underline from links*/
    list-style: none;
  }
  
  
  
  
  body {
      display: flex;
      justify-content: center; /* Horizontally center the grid */
      align-items: center; 
      height: 100vh; 
      margin: 5px;
      overflow: auto; /* Remove default margin */
  }
  .backimg{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    opacity: 0.9;
    
  }
  .grid {
    position:absolute;
    width: 560px;
    height: 300px;
    background-color: rgb(237, 25, 25);
    border : solid black 1px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);


}
.block {
    position: absolute;
    width:100px;
    height: 20px;
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(255, 247, 0);
   
}
.user {
    position: absolute;
    width:100px;
    height: 20px;
    background-color:purple;
   
}

.eyeball {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50% / 50%;
  background-color: rgb(233, 203, 9);
  border: 3px solid black;
  box-shadow: inset 0 0 10px rgb(241, 24, 24);
  overflow: hidden;
}

.eyeball::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px){

}



  /* For medium screens (950px to 1200px wide) */
@media screen and (min-width: 950px) and (max-width: 1200px) {

}
  
/* For small screens (up to 950px wide) */
@media screen and (max-width: 950px) {
  
}
