* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
     /*removes underline from links*/
    list-style: none;
  }
  
  
  
  
  body {
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: hidden;
  }
  .backimg{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    opacity: 0.9;
    
  }

/*START PAGE */

#start-page {
  width: 100%;
	height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#player-name {
	font-size: 18px;
	font-weight: bold;
	background-color: #ffbc03;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}


/* START BUTTON*/ 
#start-button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);

  transition: all 0.3s;
 }
 
#start-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 #start-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 #start-button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }

 .title{
  font-size: 40px;
  color: rgb(250, 239, 28);
  text-align: center;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.eye-lid {
  background-color: rgb(11, 12, 12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 9px 0 2px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 150px;
}

.eye {
  background-color: #ffbc03;
  border-radius: 50%;
  transform: translate3d(0, 0, 0) rotate(90deg);
  width: 120px;
  height: 120px;
  animation: eye 5s infinite;
}

@keyframes eye {
  12%,
  25% {
    width: 100px;
    height: 110px;
  }

  37%, 
  50% {
    width: 60px;
    height: 130px;
  }

  63%, 
  75% {
    width: 100px;
    height: 103px;
  }

  87% {
    width: 100px;
    height: 100px;
  }
}

.cornea {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: eye-color 5s infinite;
}

@keyframes eye-color {
  63%, 75% {
    background-color: rgb(8, 20, 96);
  }
}

.white-pupil {
  position: absolute;
  top: 9%;
  left: 10%;
  border-radius: 50%;
  background-color: #ffbc03;
  width: 20px;
  height: 20px;
}

#game-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

  .grid {
    width: 560px;
    height: 300px;
    background-color: rgb(237, 25, 25);
    border : solid black 1px;
    position: relative;


}
.block {
    position: absolute;
    width:100px;
    height: 20px;
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(255, 247, 0);
   
}
.user {
    width:100px;
    height: 20px;
    background-color:purple;
    position: absolute;
   
}

.eyeball {
  width: 30px;
  height: 30px;
  border-radius: 50% / 50%;
  background-color: rgb(233, 203, 9);
  border: 3px solid black;
  box-shadow: inset 0 0 10px rgb(241, 24, 24);
  overflow: hidden;
  position: absolute;
}

.eyeball::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#score{
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #ffffff;
	width: fit-content;
	text-align: center;

}
#restart-button {
  position: relative;
  width: 150px;
  height: 55px;
  border-radius: 45px;
  border: none;
  background-color: rgb(238, 13, 13);
  color: white;
  box-shadow: 0px 10px 10px rgb(87, 108, 45) inset,
  0px 5px 10px rgba(5, 5, 5, 0.212),
  0px -10px 10px rgb(124, 54, 255) inset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#restart-button::before {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.678);
  content: "";
  filter: blur(1px);
  top: 7px;
  border-radius: 50%;
}

#restart-button::after {
  width: 70%;
  height: 2px;
  position: absolute;
  background-color: rgba(250, 250, 250, 0.137);
  content: "";
  filter: blur(1px);
  bottom: 7px;
  border-radius: 50%;
}

#restart-button:hover {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

#mute-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
/* orientation message on mobile devices <= 650px / handled by JavaScript */
.message {
	background-color: rgba(250, 250, 250, 0.137);
	text-shadow: 2px 2px 2px black;
	font-size: 2.5em;
	text-align: center;
	display: flex;
	color: #ffbc03;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5em;
	border-radius: 0.5em;
}

/* 404 error pag */
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
	text-align: center;
	font-size: 25px;
	color: #f00;
	margin-top: 40px;
	background-color: #ffbc03;
  padding: 1em;
}

a {
	text-decoration: underline;
	font-size: 40px;
	color: rgb(124, 54, 255);
	text-align: center;
}


.hide {
	display: none !important;
}
.invisible {
	opacity: 0;
	visibility: hidden;
}

    

















